$primary-color : #0084A4;
$secondary-color : #F7A600;

.team-card{
    width: 200px;
    border: 4px solid $primary-color;
    border-radius: 15px;
    margin: 20px;
    color: white;
    box-shadow: 10px 10px 30px grey;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
}

.team-card-header{
    height: 40px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.team-card-body{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 95%;
        height: 95%;
        object-fit: contain;
    }
}

.team-card-footer{
    height: 40px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}